# Ignore byte cache
__pycache__/
venv/

# Ignore updates to agent_response.mp3
agent_response.mp3

# Ignore user specific settings and history
custom_settings.json
chat_history.pkl

# Ignore BERT and Spacy model for now
bert_model/
bert_tokenizer/
entity_model/

# Ignore log files
*.log
